.card-text {
    font-family: "Lucida Handwriting";
    color: #1d1d1f;
}

.card-body {
    background-color: #fbfbfd;
    padding-bottom: 40px;
}

/* align center card */
.card {
    margin: 0;
    float: none;
    margin-bottom: 10px;
}

.card-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
