/* Farben:
Schwarz: #1D1D1F
Weiß: #FBFBFD
Grau: #707070
Blau:  #0066CC
*/

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: #1d1d1f;
    width: 100%;
    height: 100vh;
}

.nav-bar-notch {
    position: absolute;
    width: 210px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -33px;
}

.main-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}