/* Farben:
Schwarz: #1D1D1F
Weiß: #FBFBFD
Grau: #707070
Blau:  #0066CC
*/

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: #1d1d1f;
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: "Bambi Handwritten";
    src: url("@/fonts/BambiHandwritten.ttf");
}


