/* Farben:
Schwarz: #1D1D1F
Weiß: #FBFBFD
Grau: #707070
Blau:  #0066CC
*/

body {
    background-color: #1D1D1F;
    height: 100vh;
}

.card-text {
    font-family: 'Lucida Handwriting';
    color: #1D1D1F;
}

.card-body {
    background-color: #FBFBFD;
    padding-bottom: 40px;

}

/* align center card */
.card {
    margin: 0;
    float: none;
    margin-bottom: 10px;

}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navPic {
    width: 110%;
    height: 110%;
    transform: translate(-5%, -5%);
    object-fit: cover;
}

.posRelative {
    position: relative;
}

.posAbsolute {
    position: absolute;
}

.navText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow {
    width: 2.5rem;
    left: calc(50% - 1.25rem);
    bottom: 3px;
    transition: transform 0.27s ease-in-out;
}

.arrow.rotated {
    transform: rotate(180deg);

}

.arrowButton {
    left: calc(50% - 6.25rem);
    bottom: 1.2rem;
    width: 12.5rem;
    height: 3.0rem;
    padding: 0.4rem;
    /* border: 1px solid red; */
    border: none;
    background: none;
    border-radius: 0.9rem;
}

.arrowButton:hover {
    cursor: pointer;
}

.arrowButton:focus {
    outline: none;
}

.topNav {
    top: -140px;
    transition: top 0.27s ease-in-out;
}

.topNav.expanded {
    top: -60px;
}

/* #progress {
    margin-top: 100px;
    width: 80%;
    height: 0.5rem;
    background-color: #707070;
    border-radius: 1.5rem;
    border-color: white;
    background-color: transparent;
} */

.progress-container {
    display: flex;
    justify-content: center;
    z-index: 100;
}

.progress {
    margin-top: 100px;
    width: 80%;
    height: 20px;
    border: 3px solid #fff;
    background-color: #f2f2f2;
    border-radius: 25px;
    overflow: hidden;
    background-color: transparent;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #0066CC;
    transition: width 0.5s ease;
}

.position-bg{
    position: relative;
    /* set position in center */
    left: 140px;
    top: 20px;
    transform: translate(-50%, -50%);
}
.position-bg2{
    position: relative;
    /* set position in center */
    left: 390px;
    top: 170px;
    transform: translate(-50%, -50%);
}

.elliptical-bg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, #0066CC, transparent);
    filter: blur(140px);
    z-index: -100;
  }