/* Farben:
Schwarz: #1D1D1F
Weiß: #FBFBFD
Grau: #707070
Blau:  #0066CC
*/

body{
    background-color: #1D1D1F;
    height: 100vh;
}

.card-text{
    font-family:'Lucida Handwriting';
    color: #1D1D1F;
}

.card-body{
    background-color: #FBFBFD;
    padding-bottom: 40px;

}

/* align center card */
.card {
    margin: 0;
    float: none;
    margin-bottom: 10px;

}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}